* {
    font-family: Verdana;
    background-color: skyblue;
}

h1 {
    text-transform: uppercase;
    font-size: 60px;
    color: darkslateblue;
    padding: 0 0 0px 35px;
    margin: 35px 0 35px 0;
}

#banner {
    width: 100%;
    height: 400px;
    background-color: darkslateblue;
    float: left;

}

#top-menu {
    height: 35px;
    border-bottom: 1px solid darkslateblue;
    margin: 0 35px 0 35px;
}

.top-menustyle {
    float: right;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    border: none;
    border: 2px solid #0000;
    text-transform: uppercase;
}
.top-menustyle:hover {
    border-bottom: 2px solid darkslateblue;
    background-color: darkslateblue;
    color: #ffff;
    transition: .2s;
}
#mainmenu {
    margin: 80px 35px 0 15px;
    float: right;
}

.form-menu{
    width:auto;
    float:left;
}
.menustyle {
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    border: none;
    border: 2px solid #0000;

}

.menustyle:hover {
    border: 2px solid darkslateblue;
    box-shadow: 2px 2px 2px darkslateblue;
    transition: .3s;
    background-color: #6a5db8;
    color: #ffff;
}

#box-body {
    padding: 0px 0px 0px 0px;
}

#box-c2a {
    padding: 0px 35px 0px 35px;
}

#c2a-left {
    height: 350px;
    width: 48%;
    background-color: darkslateblue;
    float: left;
    margin: 35px 4% 35px 0;
}

#c2a-right {
    height: 350px;
    width: 48%;
    background-color: darkslateblue;
    float: left;
    margin: 35px 0 35px 0;
}

#bottom-section {
    height:auto;
    width:95%;
    background-color: darkslateblue;
    float: left;
    padding: 35px 35px 35px 35px;

}
#box-footer-left {
    height:250px;
    width: 48%;
    background-color: #6a5db8;
    float:left;
    margin: 0 4% 0 0;
}
#box-footer-right {
    height:250px;
    width: 48%;
    background-color: #6a5db8;
    float:left;
}
.footer {
    padding-left: 10%;
    background-color: #6a5db8;
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 1%;
}
.contact-style {
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    border: 1px solid;
}
.contact-style:hover{
    border: 1px solid darkslateblue;
    box-shadow: 1px 1px 1px darkslateblue;
    transition: .3s;
    background-color: palevioletred;
    color: #ffff;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}
