<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="MyCSS.css">

</head>
<body>

<div>

    <h1>Make a list</h1>

    <div id="form_styling">
        <form action="/createList" method="post" style="background-color: #6a5db8;">
            <label class="form-label-styling">Enter name of the list you want: </label>
            <input type="text" name="list_name" style="border: 2px solid darkslateblue; float: left">
            <button class="SearchButton">Create</button>
            <button id="GoBackButton" style="float: left; margin-left: -37px;">Go back</button>
        </form>
    </div>

</div>

</body>
</html>