<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="MyCSS.css">

</head>
<body>

<div>

    <h1>Make a list</h1>

    <div id="form_styling">
        <form action="/createList" method="post" style="background-color: #6a5db8;">
            <label id="form-label-styling">Enter name of the Wish List you want to create: </label>
            <input type="text" name="list_name" style="background-color: #9b92cf; border: 2px solid darkslateblue;">
        </form>
    </div>

</div>

</body>
</html>