<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>

</div>

<div>
    <form action="/addWish" method="post">
        <label>enter wish name</label>
        <input type="text" name="wish_name">
        <label>enter wish description</label>
        <input type="text" name="wish_desc">
        <label>enter wish link</label>
        <input type="text" name="wish_link">
        <label>enter wish price</label>
        <input type="text" name="wish_price">
        <input type="submit">
    </form>
</div>

</body>
</html>