<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wish list</title>
    <link rel="icon" type="image/x-icon" href="gift-solid.svg">
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
</head>
<body>
<div id="top-menu">
    <form action="/loginbutton" method="post">
        <a href="index.html">
            <button class="top-menustyle">Login</button>
        </a>
    </form>
    <form action="/registerbutton" method="post">
        <a href="index.html">
            <button class="top-menustyle">Create user</button>
        </a>
    </form>
</div>

<div id="box-header">

    <h1 style="float:left;">Wish list homepage</h1>

    <div id="mainmenu">
        <a href="index.html">
            <button class="menustyle">Home</button>
        </a>
        <form action="/listInitPage" method="post">
            <button class="menustyle">Create wish list</button>
        </form>
        <a>
            <button class="menustyle">Share</button>
        </a>
        <a>
            <button class="menustyle">Find person</button>
        </a>
        <a>
            <button class="menustyle">Search</button>
        </a>
    </div>

</div>

<div id="box-body">

    <div id="banner">

        <img src="gave_img.jpg" width="100%" height="400px">

    </div>

    <div id="box-c2a">

        <div id="c2a-left">

        </div>

        <div id="c2a-right">


        </div>

    </div>

</div>

<div id="bottom-section">

    <div id="box-footer-left">
        <p>1234 Falskevej</p>
        <p>5678 Drømmeby</p>
        <p>Mirakel Land</p>
    </div>

    <div id="box-footer-right">

    </div>

</div>

</body>
</html>