<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
</head>
<body>
<div id="top-menu">
        <a href="index.html">
            <button class="top-menustyle">Login</button>
        </a>
        <a href="index.html">
            <button class="top-menustyle">Create user</button>
        </a>
</div>

<div id="box-header">

    <h1 style="float:left;">Wish list homepage</h1>

    <div id="mainmenu">
        <a href="index.html">
            <button class="menustyle">Home</button>
        </a>
        <a>
            <button class="menustyle">Create wish list</button>
        </a>
        <a>
            <button class="menustyle">Share</button>
        </a>
        <a>
            <button class="menustyle">Find person</button>
        </a>
        <a>
            <button class="menustyle">Search</button>
        </a>
    </div>

</div>

<div id="box-body">

    <div id="banner">

        <img src="/img/gave_img.jpg" alt="Banner billede"/></div>

    <div id="box-c2a">

        <div id="c2a-left">

        </div>

        <div id="c2a-right">


        </div>

    </div>

</div>

<div id="box-footer">

</div>

</body>
</html>