<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wish List</title>
    <link rel="icon" type="image/x-icon" href="gift-solid.svg">
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
</head>
<body>
<div id="top-menu">
    <form action="/loginbutton" method="post">
        <a href="index.html">
            <button class="top-menustyle">Log Out</button>
        </a>
    </form>
<!--    <form action="/registerbutton" method="post">-->
<!--        <a href="index.html">-->
<!--            <button class="top-menustyle">Create user</button>-->
<!--        </a>-->
<!--    </form>-->
</div>

<div id="box-header">

    <h1 style="float:left;">Make a Wish(List)</h1>

    <div id="mainmenu">
        <form class="form-menu" action="/" method="post">
            <button class="menustyle">Home</button>
        </form>
        <form class="form-menu" action="/listInitPage" method="post">
            <button class="menustyle">Create wish List</button>
        </form>
        <form class="form-menu" action="/listInitPage" method="post">
        <button class="menustyle">Share</button>
        </form>
    </div>

</div>

<div id="box-body">

    <div id="banner">

        <img src="gave_img.jpg" width="100%" height="400px">

    </div>

    <div class="button-container">
        <a href="#" id="button1" class="cta-button">
            <img src="C2A_CreateAList.jpg" alt="Create a List" class="cta-img"
                 style="width:700px; height:400px; margin:35px 38px 35px 0;">
            <img src="C2A_CreateAList_Hover.jpg" alt="Create a List" class="cta-img-hover"
                 style="width:700px; height:400px; margin:35px 38px 35px 0;">
        </a>

        <a href="#" id="button2" class="cta-button">
            <img src="C2A_CreateAList.jpg" alt="Create a List" class="cta-img"
                 style="width:700px; height:400px; margin:35px 0 35px 0;">
            <img src="C2A_CreateAList_Hover.jpg" alt="Create a List" class="cta-img-hover"
                 style="width:700px; height:400px; margin:35px 0 35px 0;">
        </a>
    </div>


</div>


</div>

</div>

<div id="bottom-section">

    <div id="box-footer-left">
        <p class="footer">STREET: Guldbergsgade 29</p>
        <p class="footer">CITY: Copenhagen</p>
        <p class="footer">COUNTRY: Denmark</p>
        <p class="footer">MAIL: MELM@gmail.com</p>
        <p class="footer">CONTACT FORM: <button class="contact-style">Click here</button></p>
        <p class="footer">FIND US: &rarr;<p>
    </div>

    <div id="box-footer-right">
        <img src="This street gogle mops.JPG" width="100%" height="100%">
    </div>

</div>

</body>
</html>