<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View List</title>
</head>
<body>
<form action="/inputListId" method="post">
  <label>Enter list ID</label>
  <input type="text" id="list_id" name="list_id"/>
  <br>
</form>
<table>
  <thead>
  <tr>
    <th>name</th>
    <th>desc</th>
    <th>price</th>
    <th>link</th>

  </tr>
  </thead>
  <tbody>
  <tr th:each="wish: ${wishes}">
    <td th:text="${wish.wish_name}"/>
    <td th:text="${wish.wish_desc}"/>
    <td th:text="${wish.wish_price}"/>
    <td th:text="${wish.wish_link}"/>
  </tr>
  </tbody>
</table>
</body>
</html>